# IDE
.idea/

# dependencies
node_modules/

# build output
.open-next/
.next/
dist/

# typescript
next-env.d.ts
*.tsbuildinfo

# logs
.pnpm-debug.log*
.turbo/
.wrangler/

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# prisma
packages/database/src/generated

# misc
.DS_Store
