# IDE
.idea/

# dependencies
node_modules/

# next.js
.open-next/
.next/

# typescript
next-env.d.ts
*.tsbuildinfo

# logs
.pnpm-debug.log*
.turbo/
.wrangler/

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# misc
.DS_Store
